{{ define "main" }}
  <div class="container{{ if .Params.fullWidth }}-fluid{{ end }}" role="main">
    <div class="row">
      <div class="{{ cond .Params.fullWidth "col-12" "col-md-10 offset-md-1" }}">
        <article role="main" class="blog-post">
          {{ partial "github-buttons" . }}
          {{ partial "before_content.html" . }}
          <h1>TOC</h1>
          {{ .TableOfContents }}
          {{ .Content }}
          {{ if and (eq .Type "recipe") .Params.recipe }}
            {{ partial "recipe.html" . }}
          {{ end }}
          {{ partial "after_content.html" . }}

        {{ if .Params.categories }}
          <div class="blog-categories">
            <span>{{ i18n "categoriesLabel" }}</span>
            {{ range .Params.categories }}
              {{- $catName := . -}}
              {{- with $.Site.GetPage (printf "/%s/%s" "categories" ($catName | urlize)) -}}
              <a href="{{ .RelPermalink }}">{{ $catName }}</a>&nbsp;
              {{- end -}}
            {{ end }}
          </div>
        {{ end }}
        {{ if .Params.tags }}
          <div class="blog-tags">
            <span>Tags: </span>
            {{ range .Params.tags }}
              {{- $tagName := . -}}
              {{- with $.Site.GetPage (printf "/%s/%s" "tags" ($tagName | urlize)) -}}
              <a href="{{ .RelPermalink }}">{{ $tagName }}</a>&nbsp;
              {{- end -}}
            {{ end }}
          </div>
        {{ end }}

        {{ if and (ne .Type "page") ($.Param "socialShare") }}
            <hr/>
            <section id="social-share">
              <div class="footer-links">
                {{ partial "share-links" . }}
              </div>
            </section>
        {{ end }}

        {{ if $.Param "showRelatedPosts" }}
          {{- $related := where (where .Site.RegularPages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink }}
          {{- $num_to_show := $.Param "related_content_limit" | default 5 }}
          {{- with first $num_to_show $related }}
            <h4 class="see-also">{{ i18n "seeAlso" }}</h4>
            <div class="see-also-list">
              {{ range . }}
                <a href="{{ .RelPermalink }}" class="see-also-item">
                  <span class="see-also-item-title">{{ .Title }}</span>
                  {{ with .Params.subtitle }}<span class="see-also-item-subtitle">{{ . }}</span>{{ end }}
                </a>
              {{ end }}
            </div>
          {{ end }}
        {{ end }}
      </article>

      {{ if and (ne .Type "page") (default true ($.Param "showPostNav")) }}
        {{ if .PrevInSection }}
          <a href="{{ .PrevInSection.RelPermalink }}" class="nav-side-arrow nav-side-prev" title="{{ .PrevInSection.Title }}" aria-label="{{ i18n "previousPost" }}: {{ .PrevInSection.Title }}">
            <i class="fas fa-chevron-left"></i>
          </a>
        {{ end }}
        {{ if .NextInSection }}
          <a href="{{ .NextInSection.RelPermalink }}" class="nav-side-arrow nav-side-next" title="{{ .NextInSection.Title }}" aria-label="{{ i18n "nextPost" }}: {{ .NextInSection.Title }}">
            <i class="fas fa-chevron-right"></i>
          </a>
        {{ end }}
        <ul class="post-pager blog-post-pager">
          {{ if .PrevInSection }}
            <li class="pager-prev">
              <a href="{{ .PrevInSection.RelPermalink }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ .PrevInSection.Title }}"><i class="fas fa-chevron-left"></i> {{ i18n "previousPost" }}</a>
            </li>
          {{ else }}
            <li class="pager-prev"></li>
          {{ end }}
          <li class="pager-center">
            {{ partial "show-source" . }}
          </li>
          {{ if .NextInSection }}
            <li class="pager-next">
              <a href="{{ .NextInSection.RelPermalink }}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} <i class="fas fa-chevron-right"></i></a>
            </li>
          {{ else }}
            <li class="pager-next"></li>
          {{ end }}
        </ul>
      {{ end }}


      {{ if and (ne .Type "page") (.Param "comments") }}
      {{ if .Site.Params.giscus }}
        {{ partial "giscus-comments.html" . }}
      {{ end }}

      {{ if .Site.Params.utterances }}
        {{ partial "utterances-comments.html" . }}
      {{ end }}

      {{ if .Site.Params.cusdisID }}

        <div id="cusdis_thread"
          data-host="https://cusdis.com"
          data-app-id="{{ .Site.Params.cusdisID }}"
          data-page-id="{{ .Permalink }}"
          data-page-url="{{ .Permalink }}"
          data-page-title="{{ .Title }}"
          data-theme="auto"
        ></div>
        <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

      {{ end }}
      
      {{ if .Site.Config.Services.Disqus.Shortname }}
          {{ if .Site.Params.delayDisqus }}
          <div class="disqus-comments">                  
            <button id="show-comments" class="btn btn-secondary" type="button">{{ i18n "show" }} <span class="disqus-comment-count" data-disqus-url="{{ trim .Permalink "/" }}">{{ i18n "comments" }}</span></button>
            <div id="disqus_thread"></div>

            <script type="text/javascript">
              var disqus_config = function () {
              this.page.url = '{{ trim .Permalink "/" }}';
            };

          </script>
          </div>
          {{ else }}
          <div class="disqus-comments">
            {{ partial "disqus-wrapper.html" . }}
          </div>
          {{ end }}
        {{ end }}
        {{ if .Site.Params.staticman }}
          <div class="staticman-comments">
            {{ partial "staticman-comments.html" . }}
          </div>
        {{ end }}
      {{ end }}

      {{ partial "toc.html" . }}

    </div>
  </div>
</div>
{{ end }}
